:root {
    --primary-color1: hsl(0, 36%, 70%);
    --primary-color2: hsl(0, 93%, 68%);
    --primary-color3: hsl(0, 50%, 98%);
    --primary-color4: hsl(0, 86%, 84%);
    --primary-color5: hsl(0, 70%, 91%);
    --neutral-color: hsl(0, 6%, 24%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

body {
    font-family: 'Josefin sans', sans-serif;
    background: #fff;
    Font-size: 16px;
}

i {
    color: #fff
}

img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    background: url('images/bg-pattern-desktop.svg');
    box-shadow: 3px 4px 8px 3px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 50px;
    padding: 0;
    left: 0;
    max-width: 1100px;
    height: 700px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.container .container-inner-one h1 {
    font-size: 4rem;
    font-weight: 100;
    text-align: justify;
    letter-spacing: 10px;
    margin: 0;
    color: var(--primary-color1);
}
.container .container-inner-one h2 {
    font-size: 4rem;
    text-align: justify;
    margin: 0;
    font-weight: 400;
    letter-spacing: 10px;
}

.container .container-inner-one p {
    color: var(--primary-color1);
    margin: 20px 0;
    font-weight: 100;
}



/* .container .container-inner-one div {
    width: 350px;
    margin: auto;
} */

/* Email Form */
.email-form {
    
    display: inline-block;
    position: relative;
    margin-top: 1rem;
}

.email-form .form-control {
    display: inline-block;
    font-size: 1rem;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border-color: var(--primary-color5);
    outline-style: none;
}



.email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 45px;
    background-color: var(--primary-color4);
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #ddd;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
}

/* Desktop View */
@media(min-width: 850px){
    #mobile {
        display: none;
    }

    .container-mobile {
        display: none
    }

    .container .container-inner-one {
        margin: 0 0 0 120px;
        padding: 0;
    }

    .box2 {
        height: 100%;
        width: 500px;
        margin-right: 0;
    }

    .logo {
        margin: -80px 0 120px 0;
        top: 0;
        padding: 30px 0;
        width: 150px;
        padding: 0;
    }
}

/* Ipad View */
@media(min-width: 450px) and (max-width: 850px){
    * {
        margin: 0;
    }
    body {
        margin: 0;
        background-color: var(--primary-color3);
    }

    .container {
        display: none;
    }
    
    .container-mobile  {
        text-align: center;
        box-shadow: none;
        transition: none;
        width: 100%;
        height: auto;
        
    }

    .container-mobile .container-inner-one {
        width: 500px;

        justify-items: center;
    }

    .container-mobile .container-inner-one div{
        text-align: center;
    }
    
    .container-mobile .box1 {
        margin: 20px 30px;
        padding: 30px 0;
        width: 150px;
        padding: 0;
    }
    
    .container-mobile .box3 {
        justify-content: center;
        padding: 50px;
        margin: auto;
    }

    
    .container-mobile .container-inner-one h1 {
        font-size: 3rem;
        font-weight: 100;
        letter-spacing: 10px;
        color: var(--primary-color1);
    }
    .container-mobile .container-inner-one h2 {
        font-size: 3rem;
        letter-spacing: 10px;
        text-align: center;
        font-weight: 400;
    }
    
    .container-mobile .container-inner-one p {
        color: var(--primary-color1);
        text-align: center;
        margin: 30px 0;
        font-weight: 100;
    }

    #desktop {
        display: none;
    }

    footer {
        display: none;
    }

}

/* Mobile View */
@media(max-width: 450px) {
    * {
        margin: 0;
    }
    body {
        margin: 0;
        background-color: var(--primary-color3);
    }

    .container {
        display: none;
    }
    
    .container-mobile  {
        text-align: center;
        box-shadow: none;
        transition: none;
        width: 100%;
        height: auto;
        
    }

    .container-mobile .container-inner-one {
        width: 350px;
        justify-items: center;
    }

    .container-mobile .container-inner-one div{
        text-align: center;
    }
    
    .container-mobile .box1 {
        margin: 20px 30px;
        padding: 30px 0;
        width: 120px;
        padding: 0;
    }
    
    .container-mobile .box3 {
        justify-content: center;
        padding: 50px;
        margin: auto;
    }

    
    .container-mobile .container-inner-one h1 {
        font-size: 3rem;
        font-weight: 100;
        letter-spacing: 10px;
        color: var(--primary-color1);
    }
    .container-mobile .container-inner-one h2 {
        font-size: 3rem;
        letter-spacing: 10px;
        text-align: center;
        font-weight: 400;
    }
    
    .container-mobile .container-inner-one p {
        color: var(--primary-color1);
        text-align: center;
        word-spacing: 1.5px;
        margin: 30px 0;
        font-weight: 100;
    }

    #desktop {
        display: none;
    }

    footer {
        display: none;
    }

}